.card {
  width: 350px;
  border: 1px solid;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.deleteBtn {
  padding: 10px 5;
  border-radius: 5px;
  border: none;
  color: red;
}
